.food-display{
    margin-top: 30px;
}

.food-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 500;
    color: #262626;
}
.food-display .food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    row-gap: 30px;
    margin-top: 50px;
    /* background-color: rgb(80, 121, 121); */
}